* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Philosopher', sans-serif;
}

#header {
  width: 100%;
  height: 13vh;
  background-color: #1a0e30;
}

.container {
  padding: 20px 10%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;

}

.logo {
   cursor: default;
   width: 100px;
   height: 50px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #d8315b;
  position: relative;
}

nav ul li a:hover {
  color: #41ead4;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #d8315b;
}

/* Home Page */
#home {
  color: #b8bedd;
  cursor: pointer;
  background-color: #1a0e30;
  height: 550px;
  padding: 40px 5px 5px 45px;
}

.welcome {
  width: 100px;
  height: 40px;
  background-color: #d8315b;
  border-radius: 3px;
  text-align: center;
  padding: 5px ;
  font-weight: bold;
  font-size: 20px;
  color: #1a0e30;
}

.detail {
  margin-left: 8%;
  padding-top: 5%;
}

.detail h1 {
  font-size: 40px;
  margin: 20px 0 0 0;
  line-height: 4rem;
}

span {
  color: #d8315b;
}

.detail h4 {
  margin-bottom: 20px;
  color: #41ead4;
  line-height: 1.2rem;
}

.detail p {
  font-size: 16px;
  line-height: 2rem;
}

/* Images Home Section */
.images img {
  width: 35%;
  height: 75%;
  position: absolute;
  left: 58%;
  bottom: 95px;
  transition: transform .2s;
}

/* Social Button Home */
.socials {
  position: absolute;
  top: 20%;
  bottom: 20%;
  right: 0;
  row-gap: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.home-socials {
  width: max-content;
  color: #d8315b;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none; 
  cursor: pointer;
}

.home-socials:hover {
  color: #41ead4;
  cursor: pointer;
}

.social-data {
  transform: rotate(90deg);
  width: max-content;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.social-icons {
  transform: rotate(90deg);
  color: #d8315b;
}


/* ABOUT SECTION */
#about {
  padding: 40px 0;
  background-color: bisque;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about1 {
  flex-basis: 35%;
}

.about1 img {
  width: 90%;
  padding-top: 2rem;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
  background-color: #d8e2dc;
}

.about2 {
  flex-basis: 58%;
  font-size: 2rem;
  padding-top: 5px;
  color: #28046c;
}

.about-text {
  font-size: 18px;
  line-height: 1.8rem;
  margin: 20px auto;
}

.about-h1 {
  font-size: 35px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 4px solid #d8315b;
  width: 21%;
}

.about-titles {
  display: flex;
  margin: 30px auto;
}

.about-links {
  margin-right: 50px;
  font-size: 22px;
  color: #28046c ;
  cursor: pointer;
  position: relative;
  line-height: 3rem;
}

.about-links::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #d8315b;
  left: 0;
  position: absolute;
  bottom: -0.8px;
  transition: 0.5s;
}

.about-links.active-link::after {
  width: 60%;
  height: 4px;
}

.about-contents ul li span {
  font-size: 21px;
  font-weight: 600;
  color: #d8315b;
}

.about-contents ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 16px;
    color: #28046c;
    line-height: 1.8rem;
    padding-bottom: 0.8rem;
}
.about-contents {
  display: none;
}

.about-contents.active-contents {
  display: block;

}

/*---------------- CONTACT ME PAGE --------------*/
#contact {
  background-color: #d8315b;
  color: #1a0e30;
  padding: 30px 0;
}
.contact-left {
  flex-basis: 35%;
  margin-top: 30px;
}

.contact-left h1 {
  font-size: 35px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 4px solid #41ead4;
  outline: none;
  width: 40%;
}
.contact-left p {
  margin-top: 30px;
  font-size: 17px;
  font-weight: 550;
}

.contact-left p i {
  margin-right: 15px;
  font-size: 1.5rem;
  color: #1a0e30;
  display: inline-block;
  transition: transform(0.5s);
}

.contact-left h3 {
  color: #1a0e30;
  margin-top: 30px;
}

.contact-socials i:hover {
  color: #41ead4;
  transform: translateY(-5px);
}

.contact-right {
  flex-basis: 60%;
}

.contact-right form {
  width: 100%;
}

form input, form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background-color: #1a0e30;
  padding: 15px;
  margin: 15px 0;
  color: #b8bedd;
  font-size: 16px;
  border-radius: 6px;
}

.submit-btn2 {
  display: inline-block;
  background-color: #1a0e30;
  color: #d8315b;
  width: 35%;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 5px;
  border-radius: 6px;
  outline: none;
  transition: transform(0.5s);
  cursor: pointer;
}

.submit-btn2:hover {
  color: #41ead4;
  outline: none;
  transform: translateY(-5px);
  cursor: pointer;
}
/*-------------------- FOOTER --------------------*/
.footer {
  text-align: center;
}

.bottom-container {
  background-color: #1a0e30;
  height: 60%;
  margin-bottom: 0;
  padding: 50px 0 20px;
  font-family: 'Merriweather', serif;

}

.footer-link {
  color: #d8315b;
  text-decoration: none;
  margin: 20px;
}

.footer-link:hover {
  color: #41ead4;
}

.copy {
  color: #41ead4;
  padding: 25px;
  cursor: default;
}

.copy:hover {
  color: #d8315b;
  cursor: pointer;
}

.fa-heart {
  color: #7a0213;
}

.footer-link {
margin: 5px ;
}

/* nav .fas .fa-bars-staggered {
 display: none;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
} */

/* CSS for Small Screens */
/* 
@media only screen and (max-width: 600px) {
  .about-h1 {
    font-size: 19px;
  }

  .about1, .about2 {
    flex-basis: 100%;
  }

  .about1 {
    margin-bottom: 30px;
  }
  
  .about2 {
    font-size: 14px;
  }

  .about-links {
    font-size: 14px;
    line-height: 2rem;
    margin-right: 10px;
  }

  .container {
    padding: 10px;
  }

  .about-contents {
    font-size: 14px;
  }
  
  .about1 img {
    width: 70%;
    padding-top: 2rem;
  }

  .about-text {
    font-size: 14px;
    line-height: 1.5rem;
    text-align: left;  
  }

  .about-contents ul li span {
    font-size: 14px;
    font-weight: 600;
  }

  .about-contents ul li {
    font-size: 13px;
  }

  .contact-left, .contact-right {
    flex-basis: 100%;
  } 



/* #hamburger-icon {
      display: block;
      position: absolute;
      top: 25px;
      right: 115px;
      cursor: pointer;
      color: #41ead4;
    }

    .mobile-menu {
      list-style: none;
      background-color: #d8315b;
      width: 150px;
      height: 30vh;
      padding: 5rem 0;
      text-decoration: none;
    }

    .mobile-menu li a {
      text-decoration: none;
      padding-top: 2rem;
    }
    #header nav {
      display: none;
    } */

  
    /* /* nav .fas, .fa-bars-staggered {
      display: block;
      font-size: 25px;
    }

    nav ul {
      background-color: #d8315b;
      color: #1a0e30;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
    }
    nav ul li {
      display: block;
      margin: 25px;
    }

    nav .fas, .fa-bars-staggered{
      position: absolute;
      top: 25px;
      right: 30px;
      cursor: pointer;
      color: #41ead4;
    }

    nav .fas {
      color: #1a0e30;
    } */